header {
  height: 400px;
  width: 100%;
  background-color: #cc6600;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.class1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.class2 {
  display: flex;
  justify-content: center;
}
