#main-header {
  height: 400px;
  width: 100%;
  background-color: #cc6600;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.class1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.class2 {
  display: flex;
  justify-content: center;
}
.user-name {
  font-size: 40px;
  margin-top: 25px;
}
/* Responsive Screen Breakpoints */
/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .responsive-header {
    margin-top: 40px;
    display: flex;
    justify-content: row;
  }
  #main-header {
    margin: 5%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav {
    background-color: #4056a1;
    background-image: none;
  }
}
@media only screen and (min-width: 1024px) {
  .tweetHandle {
    display: none;
  }
  .responsive-header {
    margin-top: 40px;
    display: flex;
    justify-content: row;
  }
  #main-header {
    margin: 5%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav {
    background-color: #4056a1;
    background-image: none;
  }
}
