nav {
  font-family: "Bungee", sans-serif;
  height: 120px;
  background-color: #cc6600;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
span {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
  padding-top: 20px;
}
.navheader {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}
#headerArrow {
  font-size: 30px;
  color: red;
  display: flex;
  padding-bottom: 20px;
}

