nav {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  height: 120px;
  color: #ffffff;
  background-color: #cc6600;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  font-size: 40px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-right {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
#arrow-icon {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 0.25em;
  color: red;
}
