/* New Tweet Section */
.class1 {
  display: flex;
  flex-direction: column;
}
.submit-button {
  display: flex;
  justify-content: space-between;
}
#tweet-text {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom: 3px black solid;
}
.submit {
  font-family: "Bungee";
  background-color: #4056a1;
  color: white;
}
.counter {
  font-family: "Bungee";
}
b {
  font-weight: solid;
}
.text-fields {
  font-weight: bold;
}
/* Article tag Styles*/
article {
  width: 100%;
  font-size: 15;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 45px;
  border-style: solid;
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
}
article:hover {
  border: solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 3px 7px #969696de;
}
.article-header {
  background-color: #f4f1ec;
  padding-bottom: -20px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweet-Header {
  font-size: 24px;
  padding-right: 0.2em;
}
.tweet-Handle {
  font-size: 24px;
  padding-right: 0.2em;
  opacity: 0.2;
}
.tweet-ID {
  display: flex;
  flex-direction: row;
}
.imageSrc {
  margin: 10px;
}
.tweet-Body {
  font-size: 24px;
  padding-left: 0.9em;
  padding-right: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: flex;
}
.article-Footer {
  width: 90;
  border-top: solid;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweet-footer {
  font-size: 17px;
  padding-left: 1.3em;
  padding-right: 1.3em;
}
.foot-div i {
  font-size: 16px;
  color: #4056a1;
  padding-right: 0.2em;
}
.foot-div i:hover {
  font-size: 16px;
  color: #d1ad4b;
}
/* JQuery Error Alert */
#no-content-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f4f1ec;
  border-color: #a94442;
  color: #a94442;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
#to-long-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f4f1ec;
  border-color: #a94442;
  color: #a94442;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
